body, html {
    background: #FA8072;
    margin: 0;
    height: 100%;
}

nav ul {
    background-color: #FA8072;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    border-bottom: #F8F8FF solid 3px;
}

nav li {
    float: left;
    width: 20%;
}

nav li a {
    color: #F8F8FF;
    font-family: sans-serif;
    font-size: 20px;
    display: block;
    text-decoration: none;
    align-items: center;
    padding: 20px 20px;
    text-align: center;
    border-right: 1px solid #F8F8FF;
}

li a:hover {
    color: #807e80;
    background-color: #F7ABAB;
}

nav li h1 {
    color: #F8F8FF;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 20px;
}

table {
    background-color: #F8F8FF;
    width: 80%;
    height: 100%;
    border-spacing: 1px;
}

td {
    padding: 0;
    margin: 0;
}

.information {
    background-color: #807e80;
    margin: 0px;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 100%;
}

.information h1, h2, p {
    color: #F8F8FF;
    padding: 13px;
}

#blender {
    width: 20%;
    height: 100%;
    float: left;
}

img, video {
    margin: 0;
    padding: 0;
    transition: transform 0.25s ease-out;
}

.left img:hover, video:hover {
    transform: scale(1.2) translateX(40%);
}

.right img:hover, video:hover {
    transform: scale(1.2) translateX(-40%);
}

footer {
    width: 100%;
    border-top: #F8F8FF solid 3px;
}

footer h3, h5 {
    margin: 0;
    padding: 5px;
    padding-left: 15px;
    line-height: 30px;
    background-color: #FA8072;
    color: #F8F8FF;
}

footer ul {
    list-style-type: none;
    margin-right: 50px;
}

footer li {
    border-radius: 50px;;
}

footer img {
    float: right;
}

#contact {
    float: left;
}